{{ if .Site.Data.sponsors.enable }}
{{ "<!-- Client Section Start -->" | safeHTML }}
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {{ with .Site.Data.sponsors.title }}<h2 class="subtitle wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                {{ with .Site.Data.sponsors.subtitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                <div id="clients-logo" class="owl-carousel">
                    {{ range .Site.Data.sponsors.sponsorLogo }}
                    <div>
                        <a href="{{ .link }}"><img src="{{ .image | absURL }}" alt="logo" height=90px ></a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Client Section End -->" | safeHTML }}
{{ end }}
