{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.publications.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
              <div class="block">
                {{ with .Site.Data.publications.title }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
                {{ with .Site.Data.publications.subtitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . }}</p>{{ end }}
                {{ range .Site.Data.publications.pub }}
                  <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                      <!--{{ with .icon }}<i class="{{ . }}"></i>{{ end }}-->
                      <!--{{ with .title }}<h4>{{ . }}</h4>{{ end }}-->
                      <p>
                        {{ with .reference }} {{ . | safeHTML }} {{ end }}
                        {{ with .doi }} <a href="https://doi.org/{{ . }}">doi:{{ . }}</a>{{ end }}
                        {{ with .journal }} &nbsp;| &nbsp;<a href="{{ . }}">Journal</a>{{ end }}
                        {{ with .pubmed }} &nbsp;| &nbsp;<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ . }}">PubMed</a>{{ end }}
                        {{ with .pubmedcentral }} &nbsp;| &nbsp;<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{ . }}">PMC</a>{{ end }}
                        {{ with .biorxiv }} &nbsp;| &nbsp;<a href="{{ . }}">bioRxiv</a>{{ end }}
                      </p>
                  </div>
                {{ end }}
              </div>
            </div>
            {{ with .Site.Data.publications.image }}
            <div class="col-md-6">
                <div class="block">
                    <img class="img-fluid" src="{{ . | absURL }}" alt="about-image">
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}

<!-- {{ partial "clients.html" . }} -->

{{ partial "sponsors.html" . }}

{{ partial "footer.html" . }}
